/* app.component.css */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: darkslategrey; */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
}

.content {
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side h1 {
    margin: 0;
    margin-left: 0%;
}

.left-side ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-side li {
    display: inline;
    margin-right: 20px;
}

.left-side li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    font-size: 1.5rem;
}

.left-side li a:hover {
    color: lightgray;
}

a {
    cursor: pointer;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #dee2e6;
    position: fixed; /* Makes the footer fixed */
    left: 0; /* Aligns to the left */
    right: 0; /* Aligns to the right */
    bottom: 0; /* Positions at the bottom of the viewport */
  }
  
  .footer .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    color: #6c757d;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
  }
  
  .footer li {
    margin: 0 15px;
  }
  
  .footer a {
    text-decoration: none;
    color: #007bff;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  